# Managed by elgatolight setup.
[Unit]
Description=Elgato USB Light Home Assistant bridge
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart={{.Binary}} daemon --ha-url {{.HomeAssistantURL}} --credentials {{.Credentials}}
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
